.small-hero {
  background: white;
  padding: 50px 0 50px 0;
  border-bottom: 1px solid var(--border-color);
}

.small-hero .container-layout {
  margin: 0 auto;
  text-align: left;
  background-color: white !important;
}

.small-hero h1 {
  font-size: 2.4rem;
  margin-top: 0;
  margin-bottom: 1rem;
  color: var(--text-dark-color);
}

.small-hero h1 span {
  color: var(--primary-color);
}

.small-hero p {
  font-size: 1.2rem;
  color: #555;
  max-width: 600px;
  margin: 0 auto 2rem auto;
}
