<div class="container-layout">
  <a href="/#" class="logo not-a">
    <span>EML</span>Project
  </a>

  <button class="mobile-menu-toggle" aria-label="Menu">
    <i class="fa-solid fa-bars"></i>
  </button>
  <nav class="main-nav">
    <ul>
      <li>
        <a href="/docs">Docs</a>
      </li>
      <li>
        <a href="https://github.com/Electron-Minecraft-Launcher" target="_blank">
          GitHub&nbsp;&nbsp;<i class="fa-solid fa-arrow-up-right-from-square"></i>
        </a>
      </li>
    </ul>
  </nav>
</div>
